@import url('https://fonts.googleapis.com/css2?family=Georama:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');
body {
  position: relative;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--color-pink);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  font-size: 62.5%;
  --color-pink: #f5d2ec;
  --color-pink-dark: #fe019a;
  --color-pink-dark-2: #f1a6d3;
  --color-purple: #C490E4;
  --color-purple-dark: #b670e2;
  --color-purple-dark-2: #a54fdb;
  --color-lightblue: #CDF0EA;
  --color-white: #F9F9F9;
  --max-width: 1800px;
}


a {
  text-decoration: none;
}