.outerHeart {
    fill: var(--color-purple-dark-2);
    width: 12.5rem;
    height: 12.5rem;
    padding: 1rem;
    stroke: var(--color-purple);
    transition: all .2s;
}

.text:hover ~ .outerHeart {
    stroke-width: 2;
    fill: var(--color-purple);
    stroke: var(--color-purple-dark-2);
}

.outerHeart:hover {
    stroke-width: 2;
    fill: var(--color-purple);
    stroke: var(--color-purple-dark-2);
}

.heartContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all .2s;
}


.text {
    position: absolute;
    z-index: 1;
    margin-bottom: 3rem;
    color: white;
}
